<ion-header>
  <ion-toolbar>
    <ion-title>Cuidadores</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <!-- Loop para exibir a lista de cuidadores -->
    <ion-item *ngFor="let cuidador of cuidadores">
      <ion-label>
        <h2>{{ cuidador.nome }}</h2>
        <p>ID: {{ cuidador.id }}</p>
      </ion-label>

      <ion-button fill="outline" slot="end" color="primary" (click)="irParaDetalhes(cuidador.id)">
        Detalhes
      </ion-button>

      <ion-button fill="outline" slot="end" color="danger" (click)="removerCuidadores(cuidador.id)">
        Excluir
      </ion-button>
    </ion-item>

  </ion-list>

  <!-- Botão para adicionar um novo Cuidadores -->
  <ion-button expand="full" color="success" (click)="irParaAdicionarCuidadores()">
    Adicionar Novo Cuidador
  </ion-button>
</ion-content>
