<ion-header>
  <ion-toolbar>
    <ion-title>Cadastro Pet & Cuidadores</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card (click)="irParaPets()" button>
    <ion-card-header>
      <ion-card-title>🐾 Gerenciar Pets</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Acesse a lista de pets e cadastre novos.
    </ion-card-content>
  </ion-card>

  <ion-card (click)="irParaCuidadores()" button>
    <ion-card-header>
      <ion-card-title>👩‍⚕️ Gerenciar Cuidadores</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Acesse a lista de cuidadores e cadastre novos.
    </ion-card-content>
  </ion-card>
</ion-content>
